{% extends "base.html" %}

{% block content %}
    <div class = "world-homepage">
        <img src="{{ url_for('static', filename=world.thumbnail_path) }}" alt="{{ world.name }} Logo">
        <nav class="nav-links">
            <a href="{{ url_for('update_world', id=world.id) }}" class="btn-secondary">Update World</a>
        </nav>
        <h1>{{ world.name }}</h1>
        {% if world.info %}
            <h2>World info</h2>
            <p>{{ world.info }}</p>
        {% endif %}
    </div>
{% endblock %} 